			
            

            <div class='pagination pull-right'></div>
            <table id="mediaFilterGrid" class="display searchResults" width="100%">
				<thead>
					<tr>
                        <th width="190"></th>
                        <th sort="mediaId">Media ID</th>
                        <th sort="mediaType">Media Type</th>
                        <th sort="title" width='20%'>Title</th>
                        <th sort="sourceUrl" width='20%'>Source URL</th>
                        <th></th>
                        <th sort="status">Status</th>
                        <th sort="dateModified">Modified</th>
                        <th sort="language">Language</th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th class="sorting_disabled"></th>
                        <th class="sorting" sort="mediaId">Media ID</th>
                        <th class="sorting" sort="mediaType">Media Type</th>
                        <th class="sorting" sort="title" width='20%'>Title</th>
                        <th class="sorting" sort="sourceUrl" width='20%'>Source URL</th>
                        <th class="sorting_disabled"></th>
                        <th class="sorting" sort="status">Status</th>
                        <th class="sorting" sort="dateModified">Modified</th>
                        <th class="sorting" sort="language">Language</th>
                        <th class="sorting_disabled"></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>
