			
            <div class='pagination pull-right'></div>
            <table id="proxyCacheGrid" class="display" width="100%">
				<thead>
					<tr>
                        <th sort="id">ID</th>
                        <th sort="datasetId">Dataset ID</th>
                        <th sort="url" width='30%'>URL</th>
                        <th sort="expirationDateTime">Expiration Date</th>
                        <th sort="expirationInterval">Expiration Interval</th>
                        <th sort="id">Data Status</th>
                        <th sort="failures">Failures</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th sort="proxyCacheId">ID</th>
                        <th sort="datasetId">Dataset ID</th>
                        <th sort="url" width='30%'>URL</th>
                        <th sort="expirationDate">Expiration Date</th>
                        <th sort="expirationInterval">Expiration Interval</th>
                        <th sort="id">Data Status</th>
                        <th sort="failures">Failures</th>
                        <th></th>
                        <th></th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>
