			
            <div class='pagination pull-right'></div>
            <table id="proxyCacheAppKeyGrid" class="display" width="100%">
				<thead>
					<tr>
                        <th sort="proxyCacheAppKeyId">Application Key</th>
                        <th sort="description" width='50%'>Description</th>
                        <th sort="isActive">Is Active</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th sort="proxyCacheAppKeyId">Application Key</th>
                        <th sort="description" width='50%'>Description</th>
                        <th sort="isActive">Is Active</th>
                        <th></th>
                        <th></th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>
