
    <!-- left navigation ------------------------------>
    <div class="col-md-3">
		<h2 class="typeHeader">Campaigns</h2>
    </div>
    <!-- end left navigation ------------------------------>
    <!-- validation screen ------------------------------>
    <div id="validate" class="container">
		<div class="row">
			<div class="col-md-8">

			<form role="form">

				<h2>Create a Campaign</h2>

				<div class="row">
					<div class="form-group">
						<label>First Name <span class="required">*</span></label>
						<input class="form-control" type="text" placeholder="First Name" />
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Last Name <span class="required">*</span></label>
						<input class="form-control" type="text" placeholder="Last Name" />
					</div>
				</div>
            
				<div class="row">
					<div class="form-group">
						<label>Description <span class="required">*</span>
						</label>
						<textarea rows="3" class="form-control"></textarea>
					</div>
				</div>

				<label for="">Primary Contact</label>
				<div class="row">
					<div class="form-group col-sm-6">
						<input type="text" class="form-control" placeholder="First Name">
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control" placeholder="Last Name">
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Originating Organization <span class="required">*</span>
						</label>
						<select class="form-control">
							<option>- select -</option>
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Owning Organization <span class="required">*</span>
						</label>
						<select class="form-control">
							<option>- select -</option>
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>

				<label>Date Period/Interval</label>
				<div class="row">
					<div class="input-group col-sm-6" style="margin-bottom:15px;">
						<input type="text" id="campIntervalFrom" placeholder="from" class="form-control" />
						<span label-default="label-default" for="campIntervalFrom" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
					<div class="input-group col-sm-6" style="margin-bottom:15px;">
						<input type="text" id="campIntervalTo" placeholder="to" class="form-control" />
						<span label-default="label-default" for="campIntervalTo" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Language</label>
						<select class="form-control">
							<option>- select -</option>
							<option>English</option>
							<option>Spanish</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Priority</label>
						<select class="form-control">
							<option>- select -</option>
							<option>High</option>
							<option>Medium</option>
							<option>Low</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Secondary Organization <span class="required">*</span>
						</label>
						<select class="form-control">
							<option>- select -</option>
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Assign a Media Collection</label>
						<select class="form-control">
							<option>- select a collection -</option>
							<option>Collection 1</option>
							<option>Collection 2</option>
							<option>Collection 3</option>
							<option>Collection 4</option>
							<option>Collection 5</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Status</label>
						<select class="form-control">
							<option>- select -</option>
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Geography</label>
						<select class="form-control">
							<option>- select -</option>
						</select>
					</div>
				</div>
        
				<a class="btn btn-primary" style="margin-top: 15px;">Save Campaign</a>


			</form>

			</div><!--main col-md-8-->
		</div><!--row-->
    </div>
    <!-- end validation screen ------------------------------>
