			
            <div class='pagination pull-right'></div>
            <table id="collectionGrid" class="display searchResults" width="100%">
				<thead>
					<tr>
                        <th sort="mediaId">Media ID</th>
                        <th sort="mediaType">Media Type</th>
                        <th sort="title" width='20%'>Title</th>
                        <th sort="targetUrl" width='20%'>More Information URL</th>

                        <th sort="status">Status</th>
                        <th sort="dateModified">Modified</th>
                        <th sort="language">Language</th>

                        <th></th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th sort="mediaId">Media ID</th>
                        <th sort="mediaType">Media Type</th>
                        <th sort="title" width='20%'>Title</th>
                        <th sort="targetUrl" width='20%'>More Information URL</th>

                        <th sort="status">Status</th>
                        <th sort="dateModified">Modified</th>
                        <th sort="language">Language</th>

                        <th></th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>
