<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Index.htm" />
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
    <!--<add key="APIRoot" value="https://localhost:44301"/>-->
    <add key="APIRoot" value="https://.....[devReportingApplicationServer2]....." />
    <add key="PublicAPIRoot" value="https://.....[devApiServer]...../api" />  
    <add key="WebFolder" value=""/>
    <add key="PublicWebRoot" value="https://.....[devServer]...../dev_storefront" />
    <add key="FormAuthentication" value="false" />
    <add key="FeedCategoryValueSetId" value="0000"/>
    <add key="FeedSubCategoryValueSetId" value="0000"/>
    
    <add key="API_PublicKey" value="" />
    <add key="API_Secret" value="" />
  </appSettings>

  <connectionStrings>

  </connectionStrings>

</configuration>
