			
            <div class='pagination pull-right'></div>
            <table id="feedGrid" class="display searchResults" width="100%">
				<thead>
					<tr>
                        <th sort="mediaId">Feed ID</th>
                        <th sort="title" width='20%'>Title</th>
                        <th sort="mediaType">Feed Type</th>                        
                        <th >Topic(s)</th>
                        <th sort="status">Status</th>
                        <th sort="datePublished">Published</th>
                        <th></th>
						<th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th sort="mediaId">Feed ID</th>
                        <th sort="title" width='20%'>Title</th>
                        <th sort="mediaType">Feed Type</th>                        
                        <th >Topic(s)</th>
                        <th sort="status">Status</th>
                        <th sort="datePublished">Published</th>
                        <th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>
