<div class="row" style="margin-left: 6px;">
    <!-- left navigation ------------------------------>
    <div class="col-md-3 navigation">
        <div id='sidebar' >
            <h2 class="typeHeader">Infographic Content</h2>

            <ul style="display: block;" class="nav nav-list addNav">
                <li><a href="#validate"><i class="icon-chevron-right"></i>Resource Validation</a></li>
                <li class="isValidated"><a href="#generalInfo"><i class="icon-chevron-right"></i>General Information</a></li>            
                <li class="isValidated"><a href="#sourceDefinition"><i class="icon-chevron-right"></i>Source</a></li>
                <li class="isValidated"><a href="#categorization"><i class="icon-chevron-right"></i>Categorization</a></li>
            </ul>

            <div class='thumbnailPreview'></div>
        </div>
		&nbsp;
    </div>
    <!-- end left navigation ------------------------------>
	
    <div class="col-md-9 container detail">
		<div class="alert alert-danger hide" id="badSave" style="margin-top: 10px;"></div>
        <div class="alert alert-success hide" id="goodSave" style="margin-top: 10px;">Saved successfully</div>

        <div class="control-group formActions hide alert alert-info">
		    <div class="controls text-right">
			    <button id="save" class="btn btn-primary">Save</button>
			    <!--<button id="btnCancel" class="btn btn-default btnCancel" name="btnCancel">Cancel</button>-->
		    </div>
            <p></p>
	    </div>

    </div>

</div>