<div class="row" style="margin-left: 6px;">
    <!-- left navigation ------------------------------>
    <div class="col-md-3 navigation">
        <div id='sidebar' >
            <h2 class="typeHeader">PDF Content</h2>

            <ul style="display: block;" class="nav nav-list addNav">
                <li><a href="#validate"><i class="icon-chevron-right"></i>Resource Validation</a></li>
                <li class="isValidated"><a href="#generalInfo"><i class="icon-chevron-right"></i>General Information</a></li>            
                <li class="isValidated"><a href="#sourceDefinition"><i class="icon-chevron-right"></i>Source</a></li>
                <li class="isValidated"><a href="#categorization"><i class="icon-chevron-right"></i>Categorization</a></li>
                <li class="isValidated"><a href="#location"><i class="icon-chevron-right"></i>Location</a></li>
                <li class="isValidated"><a href="#extAttributes"><i class="icon-chevron-right"></i>Extended Attributes</a></li>
                <li class="isValidated"><a href="#altImages"><i class="icon-chevron-right"></i>Alternate Images</a></li>
            </ul>

            <div class='thumbnailPreview'></div>
        </div>
		&nbsp;
    </div>
    <!-- end left navigation ------------------------------>
	
    <div class="col-md-9 container detail">
        <div class="control-group formActions hide alert alert-info">
		    <div class="controls text-right">
			    <button id="save" class="btn btn-primary">Save</button>
			    <!--<button id="btnCancel" class="btn btn-default btnCancel" name="btnCancel">Cancel</button>-->
		    </div>
            <p></p>
	    </div>

    </div>

</div>