<div id='childItems'>
            <div class="subHeader" id="general">
                <button class="btn btn-small btn-primary pull-right" id="addItems"  style="margin: -10px 0 0 50px;">Add Additional Items</button>
                Child Items
            </div>

            <table id="childItemGrid" class="display" width="100%">
				<thead>
					<tr>
                        <th sort="mediaOrdinal">Display Order</th>
                        <th sort="mediaId">ID</th>
                        <th sort="mediaType">Type</th>
                        <th sort="title" width='40%'>Title</th>
                        <th sort="sourceUrl" width='40%'>URL</th>
                        <th sort="status">Status</th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>
                        <th sort="mediaOrdinal">Display Order</th>
                        <th sort="mediaId">ID</th>
                        <th sort="mediaType">Type</th>
                        <th sort="title" width='40%'>Title</th>
                        <th sort="sourceUrl" width='40%'>URL</th>
                        <th sort="status">Status</th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
</div>			