<h4 class="subHeader" id="mobileResources">Mobile Resources</h4>

<div class="form-inline">
	<div class="checkbox">
		<label>
			<input type="checkbox" id='showMobile'> This eCard has a mobile version.
		</label>
	</div>
</div>


<div class="mobileInformation hide">
	<label label-default="label-default" class="checkbox">
	<input type="checkbox" value="" id="mobileActive" />The mobile version of this eCard is active.</label>
	
	<div class="form-group">
		<label label-default="label-default" for="mobileTitle" class="required">Mobile Title</label>
		<input type="text" id="mobileTitle" class="form-control" />
		<div id="mobileTitleLabel" class="help-inline hide"></div>
	</div>
	
	<div class="form-group">
		<label label-default="label-default" for="mobileTargetUrl" class="required">Mobile Target Url</label>
		<input type="text" id="mobileTargetUrl" class="form-control" placeholder="http://"/>
		<div id="mobileTargetUrlLabel" class="help-inline hide"></div>
	</div>

	<div class="form-group">
		<label label-default="label-default" for="mobileOutsideText">Outside Text</label>
		<textarea id="mobileOutsideText" class="form-control"></textarea>
	</div>

	<div class="form-group">
		<label label-default="label-default" for="mobileOutsideLrgImgUrl">Outside Image Source (Large)</label>
		<input type="text" id="mobileOutsideLrgImgUrl" class="form-control" placeholder="http://"/>
		<div id="mobileOutsideLrgImgUrlLabel" class="help-inline hide"></div>
		<small><span class="help-block">Path must contain a valid image file type such as .jpg, .png etc.</span></small>
	</div>

	<div class="form-group">
		<label label-default="label-default" for="mobileOutsideSmlImgUrl">Outside Image Source (Small)</label>
		<input type="text" id="mobileOutsideSmlImgUrl" class="form-control" placeholder="http://"/>
		<div id="mobileOutsideSmlImgUrlLabel" class="help-inline hide"></div>
		<small><span class="help-block">Path must contain a valid image file type such as .jpg, .png etc.</span></small>
	</div>
	
	<div class="form-group">
		<label label-default="label-default" class="required" for="mobileInsideText">Inside Text</label>
		<textarea id="mobileInsideText" class="form-control"></textarea>
		<div id="mobileInsideTextLabel" class="help-inline hide"></div>
	</div>

	<div class="control-group">
		<label label-default="label-default" for="mobileInsideLrgImgUrl">Inside Image Source (Large)</label>
		<input type="text" id="mobileInsideLrgImgUrl" class="form-control" placeholder="http://"/>
		<div id="mobileInsideLrgImgUrlLabel" class="help-inline hide"></div>
		<small><span class="help-block">Path must contain a valid image file type such as .jpg, .png etc.</span></small>
	</div>

	<div class="control-group">
		<label label-default="label-default" for="mobileInsideSmlImgUrl">Inside Image Source (Small)</label>
		<input type="text" id="mobileInsideSmlImgUrl" class="form-control" placeholder="http://"/>
		<div id="mobileInsideSmlImgUrlLabel" class="help-inline hide"></div>
		<small><span class="help-block">Path must contain a valid image file type such as .jpg, .png etc.</span></small>
	</div>

</div>