<h4 class="subHeader" id="extAttributes">Extended Attributes</h4>

<div class="control-group">
    <div class="help-inline" id="extAttrLabel" style="display: none;"></div>
</div>

<form class="form-horizontal" role="form">

    <div class="form-group">
        <label label-default="label-default" class="col-md-4 required">Attribute Name</label>
        <label label-default="label-default" class="col-md-7 required">Value</label>
        <label label-default="label-default" class="col-md-1">&nbsp;</label>
    </div>

    <div class="form-group attrRow">
        <div class="col-md-4">
            <input name="textinput" placeholder="Enter a Name" class="txtAttName form-control input-md" type="text">
        </div>
        <div class="col-md-7">
            <input name="textinput" placeholder="Enter a Value" class="txtAttValue form-control input-md" type="text">
        </div>
        <div class="col-md-1">
            <a title="Remove this location" class="pull-right" href="#"><span class="removeAttribute glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8">            
            Name and value are required for each extended attribute.
            Attribute names must be unique.<br />
        </div>
        <div class="col-md-4">
            <input class="addAttribute btn btn-sm pull-right" style="margin-bottom: 10px;" type="button" value="Add Attribute">
        </div>
    </div>

</form>
