<div id='childItems'>
            <div class="subHeader" id="general">
                <div class='pull-right'>
                Create Feed Item:
                <button class="btn btn-small btn-primary" id="chooseItem"  style="margin: -10px 0 0 10px;">Choose Media</button>
                <button class="btn btn-small btn-primary" id="newItem"  style="margin: -10px 0 0 10px;">Blank Form</button>
                </div>
                Feed Items
            </div>

            <table id="childItemGrid" class="display" width="100%">
				<thead>
					<tr>

                        <th sort="mediaId">ID</th>
                        <th sort="mediaType">Type</th>
                        <th sort="title" width='40%'>Title</th>
                        <th sort="sourceUrl" width='40%'>URL</th>
                        <th sort="status">Status</th>
                        <th></th>
                    </tr>
				</thead>

				<tfoot>
					<tr>

                        <th sort="mediaId">ID</th>
                        <th sort="mediaType">Type</th>
                        <th sort="title" width='40%'>Title</th>
                        <th sort="sourceUrl" width='40%'>URL</th>
                        <th sort="status">Status</th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
</div>			