<!-- Modal -->
<div class="modal treePickerModal" tabindex="-1" role="dialog" style="position:fixed;" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class='text-right'>
                    <a class="close" data-dismiss="modal">×</a>
                </div>
                <h4>
                    <span class='termName'>Attribute name</span>
                </h4>

            </div>
            <div class='pillbox modalSelectedValues'>
                <p>
                    Selected Values:
                </p>
                <ul class='nav'></ul>
                <div class="row">
                    <div id="tooManyTopics" class="alert alert-error">You must select 15 or fewer topics.</div>
                </div>
            </div>
            <div class="modal-body treeViewContainer" style='padding: 0px; padding-top: 15px; overflow-x: hidden; max-height: none;'>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Done</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
