<h4 class="subHeader" id="sourceDefinition">Source</h4>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label label-default="label-default" for="source" class="col-md-4 required">Source</label>
		<div class="col-md-8">
			<select id="source" class="form-control" required="required"></select>
		</div>
	
		<div class="control-group">
			<div id="sourceLabel" class="help-inline hide"></div>
		</div>
	</div>

	<div class="form-group">
		<label label-default="label-default" for="language" class="col-md-4">Owning Organization</label>
		<div class="col-md-8">
			<select id="owningOrg" class="form-control"></select>
		</div>
	</div>

	<div class="form-group">
		<label label-default="label-default" for="language" class="col-md-4">Maintaining Organization</label>
		<div class="col-md-8">
			<select id="maintainingOrg" class="form-control"></select>
		</div>
	</div>
</form>