<div class="topicSearch">
	<div class="container pull-left;">
		<div class="row">
			<div class="col-md-9">
				<div class="form-inline">
					<div class="form-group col-md-6 rel" style="margin-right:5px;">
						<input id="appendedInputButton" class="valueSearch input-xxlarge form-control" style="width:100%;" type="text" autocomplete="off" placeholder="Search for the values that apply to this content" />

						<a href="#" class="btn btnSearch"><i class="glyphicon glyphicon-search"></i></a>
						<a href="#" class="btn btnRemove"  style="display:none;"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
					<div class="form-group">
						<button class="btn btn-default prevmatch" style="display:none;">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
						<button class="btn nextmatch"  style="display:none;">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="topicListContainer" style="overflow: auto; padding: 0px; margin: 0px; height: 300px;">
	<div class="topicList" style="padding: 10px;">
		<ul class="treeview-gray">
		</ul>
	</div>
</div>
