
        
        <div class="util-buttons">
            <a class="btn btn-success btn-sm" id="newValue">Add New Value</a>
        </div>
		
            <div class='pagination pull-right'></div>
            <table id="valuesGrid" class="display searchResults" width="100%">
				<thead>
					<tr>
                        <th sort="valueId">ID</th>
                        <th sort="valueName">Name</th>
                        <th sort="description">Description</th>
                        <th sort="active">Active</th>                        
                        <th sort="displayOrdinal">Ordinal</th>                        
                        <th></th>
                    </tr>
				</thead>
				<tfoot>
					<tr>
                        <th sort="valueId">ID</th>
                        <th sort="valueName">Name</th>
                        <th sort="description">Description</th>
                        <th sort="active">Active</th>                        
                        <th sort="displayOrdinal">Ordinal</th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>


