
        <h3>Value Sets</h3>
        <div class="util-buttons">
            <a class="btn btn-success btn-sm" id="newValueSet">Add New Value Set</a>
        </div>
		
            <div class='pagination pull-right'></div>
            <table id="valueSetsGrid" class="display searchResults" width="100%">
				<thead>
					<tr>
                        <th sort="id">ID</th>
                        <th sort="name">Name</th>
                        <th sort="description">Description</th>
                        <th sort="language">Language</th>
                        <th sort="active">Active</th>                        
                        <th sort="orderable">Orderable</th>
                        <th sort="defaultable">Defaultable</th>
                        <th sort="hierarchical">Hierarchical</th>
                        <th></th>
                        <th></th>
                    </tr>
				</thead>
				<tfoot>
					<tr>
                        <th sort="id">ID</th>
                        <th sort="name">Name</th>
                        <th sort="description">Description</th>
                        <th sort="language">Language</th>
                        <th sort="active">Active</th>                        
                        <th sort="orderable">Orderable</th>
                        <th sort="defaultable">Defaultable</th>
                        <th sort="hierarchical">Hierarchical</th>
                        <th></th>
                        <th></th>
					</tr>
				</tfoot>
			</table>
            <div class='pagination pull-right'></div>

